# Variables compartidas
SA_PASSWORD=TuContrasenaSegura123!
JWT_KEY=TuClaveJWT-MinimoTreintaYDosCaracteres!!
JWT_ISSUER=HoneyBack
JWT_AUDIENCE=HoneyBack
JWT_EXPIRES_MINUTES=60

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:4201,http://localhost:3000

# Frontend (solo requerido para compose.dev.yml cuando se construye la imagen local)
# Ejemplo (PowerShell): C:/Users/<usuario>/Desktop/honeybalance/honeybalance-angular
HONEYBALANCE_FRONTEND_CONTEXT=
HONEYBALANCE_FRONTEND_DOCKERFILE=Dockerfile

# Imagenes para compose.prod.yml
HONEYBACK_API_IMAGE=ghcr.io/tu-org/honeyback-api:1.0.0
HONEYBALANCE_WEB_IMAGE=ghcr.io/tu-org/honeybalance-web:1.0.0

# Flags de runtime
SWAGGER_ENABLED=true
APPLY_MIGRATIONS_AT_STARTUP=true
MSSQL_PID=Express
ASPNETCORE_ENVIRONMENT=Docker
